{
	"extends": "airbnb",
	"rules": {
		"strict": 0,
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"no-use-before-define": [2, "nofunc"],
		"object-shorthand": 0,
		"max-len": [2, 100, 2, {
			"ignoreUrls": true,
			"ignoreComments": true,
			"ignorePattern": "^\\s*console\\..*"
		}],
		"no-console": 0
	}
}
